<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <include resource="logback-default.xml"/>

    <property name="log-path" value="logs" />
    <property name="log-name" value="${log-path}/application" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- [%d{HH:mm:ss.SSS zzz}] %-5level [%t] %logger.%method\(\) - %msg%n -->
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="DAILYLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log-name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log-name}.%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS zzz}] %-5level [%t] %logger.%method\(\) - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE" />
        <includeCallerData>true</includeCallerData>
    </appender>

    <logger name="org.hibernate" level="INFO" />
    <logger name="org.springframework" level="WARN" />
	<logger name="org.springframework.boot" level="WARN" />
	<logger name="org.hibernate.SQL" level="WARN" />
	<!-- <logger name="org.springframework.webflow" level="INFO" /> -->
    <logger name="org.thymeleaf.TemplateEngine" level="WARN" />
    <logger name="org.thymeleaf" level="INFO" />
	<logger name="com.github" level="INFO" />

	<logger name="sample.ui.aop" level="INFO" />
<!--
	<logger name="sample.ui.web.GeneralController" level="INFO" />
	<logger name="sample.ui.config.WebFlowConfig" level="FINE" />
	<logger name="sample.ui.service" level="FINE" />
-->

    <root level="INFO">
        <appender-ref ref="ASYNC" />
        <!-- appender-ref ref="DAILYLOG" /-->
    </root>

</configuration>
